# Задача
Тебе будет передан словарь критериев и их описаний для классификации диалогов 
между клиентом банка и сотрудником поддержки. Убери дубликаты — критериии, которые описывают одно и то же.
В ответе я хочу получит такой словарь, в котором описаны только непохожие друг на друга критерии из исходного словаря.
Если в исходном словаре все критерии разные, то просто скопируй его в ответ. 

# Словарь критериев
{{ criteria }}

# Формат ответа
Ответь в формате json со следующей структурой: 
{
    "название_критерия_1": "описание критерия",
    "название_критерия_2": "описание критерия",
    ...
}