# Задание
Я решаю задачу бинарной классификации диалогов клиента и агента поддержки банка. 
Задача заключается в определении тега: {{ tag }}. 
positive класс — тег {{ tag }} присутствует, а negative класс этот тег отсутствует. 
Я уже обучил модель машинного обучения и получил предсказания на тест выборке. 
Тебе будет дан список примеров, в которых моя модель ошиблась с предсказанием. 
Тебе необходимо выделить общие критерии диалогов, в которых ошибается моя модель. 
Эти критерии должны быть сформулированы так, чтобы я мог построить классификационное правило по этому критерию. 
Необходимо выделить критерии как для positive класса, так и для negative. 
Тебе также будет дан список существующих критериев, чтобы ты избежал дублирования. Сгенерированные критерии не должны дублировать или противоречить существующим критериям.  
Критерии должны быть очень специфичными и точными и отражать причину запроса клиента в поддержку. 

# Существующие positive критерии{% for key, value in positive_criteria.items() %}
- NAME: **{{ key }}**
DESCRIPTION: {{ value }}
{% endfor %}

# Существующие negative критерии{% for key, value in negative_criteria.items() %}
- NAME: **{{ key }}**
DESCRIPTION: {{ value }}
{% endfor %}

# Список диалогов, в которых модель ошиблась в предсказании

## Предсказанный класс: positive; Настоящий класс: negative {% for i, value in false_positive_sample %}
- **Диалог №{{ i + 1 }}**
{{ value }}
{% endfor %}

## Предсказанный класс: negative; Настоящий класс: positive {% for i, value in false_negative_sample %}
- **Диалог №{{ i + 1 }}**
{{ value }}
{% endfor %}

# Формат ответа
В ответе перечисли все эти новые критерии. В ответе напиши название, описание всех найденных критериев, и класс к которому этот критерий относится. 
Описание должно состоять из нескольких предложений и описывать диалоги, которые этому критерию соответствуют. 

Ответь в формате json со следующей структурой: 
{
    "название_критерия_1": {"description": "описание критерия", "class": "positive/negative"},
    "название_критерия_2": {"description": "описание критерия", "class": "positive/negative"},
    ...
}